body {
    padding: 20px;
}

.headerbg{
    opacity: 0.85;
    font-family: "Sagon";
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 230px;
    background: black;
}

.headertxt {
    text-align: center;
    color: white;
    padding-top: 70px;
    margin: 0 auto;
}

.mediaicons {
    padding-right: 20px;
    color: white;    
    float: right;
}

.navbar {
    
    color: white;
    float: left;
}

.aboutimg {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    float: left;
}

.homebody {
    display: table;
    clear: both;
    padding: 40px;
}


.homeabout {
    opacity: 0.85;
    font-family: "Sagon";
    color: white;
    padding-bottom: 15px;
    padding-top: 25px;
    padding-left: 20px;
    border-radius: 25px 25px 0px 0px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    width: 55%;
    float: left;
    background: black;
}


.qualheader{
    opacity: 0.85;
    font-family: "Sagon";
    text-align: center;
    color: white;
    border-radius: 25px 25px 0px 0px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 15px;
    width: 40%;
    background: black;
    float: right;
}
    
.aboutbody {
    background: white;
    border-radius: 0px 0px 25px 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 10px;
    float: left;
    width: 55%;
}

.abouttxt {
    width: 465px;
    padding-top: 10px;
    font-family: "Sagon";
    font-size: 25px;
    float: right;
}


.qual {
    background: white;
    border-radius: 0px 0px 25px 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    float: right;
    padding: 10px;
    width: 40%;
}

.qualicons {
    padding-top: 30px;
    text-align: center;
}

.noderow {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.portfpadding {
    padding: 40px;
}

.portfheader {
    padding: 40px;
    font-family: "Sagon";
    color: white;
    text-align: center;
}

.portfbody {
    background: black;
    font-family: "Sagon";
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 40px;
}

.contbdy {
    font-family: "Sagon";
    padding: 40px;
}

.conthead {
    opacity: 0.85;
    background: black;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 25px 25px 0px 0px;
}

.continfo {
    font-family: "Sagon";
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    height: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 0px 0px 25px 25px;

}

.conttext {
    font-family: "Sagon";
    padding: 40px;
}

.contsubhead {
    font-size: 20px;
}